[submodule "wzlibcpp"]
	path = wzlibcpp
	url = https://github.com/PShocker/wzlibcpp.git
[submodule "freetype"]
	path = freetype
	url = https://github.com/freetype/freetype.git
[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
