[submodule "wzlibcpp"]
	path = 3rdparty/wzlibcpp
	url = https://github.com/PShocker/wzlibcpp.git
[submodule "freetype"]
	path = 3rdparty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "SDL"]
	path = 3rdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.30.x
